# Carrier — Validation Report

Generated: 2026-05-25T18:40:57Z

**Errors:** 39  **Warnings:** 48  **Info:** 0

## Errors (39)

- **page_bounds.symbol_outside**: symbol '#PWR124' ('CHASSIS_GND') outside page: x=293.37 > right edge 291.92 _(usb_pd.kicad_sch)_
- **page_bounds.wire_outside**: wire end outside page: x=293.37 > right edge 291.92 _(usb_pd.kicad_sch)_
- **page_bounds.symbol_outside**: symbol '#PWR111' ('CHASSIS_GND') outside page: x=293.37 > right edge 291.92 _(usbc_otg.kicad_sch)_
- **page_bounds.wire_outside**: wire end outside page: x=293.37 > right edge 291.92 _(usbc_otg.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Power output and Power output are connected _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Power output and Power output are connected _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.wire_dangling**: Wires not connected to anything _(carrier.kicad_sch)_
- **erc.pin_not_connected**: Pin not connected _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Power output and Power output are connected _(carrier.kicad_sch)_
- **erc.pin_not_connected**: Pin not connected _(carrier.kicad_sch)_
- **erc.power_pin_not_driven**: Input Power pin not driven by any Output Power pins _(carrier.kicad_sch)_
- **erc.pin_not_connected**: Pin not connected _(carrier.kicad_sch)_
- **erc.pin_not_connected**: Pin not connected _(carrier.kicad_sch)_
- **erc.pin_not_connected**: Pin not connected _(carrier.kicad_sch)_

## Warnings (48)

- **erc.label_multiple_wires**: Label connects more than one wire at 2641600, 457200 _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: The current configuration does not include the footprint library 'Connector_HDMI' _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: Footprint 'FPC-05F-40PH20' not found in library 'Connector_FFC-FPC' _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: Footprint 'FX10A-168P-SV1' not found in library 'Connector_FFC-FPC' _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: Footprint 'VSSOP-10_3x3mm_P0.5mm' not found in library 'Package_SO' _(carrier.kicad_sch)_
- **erc.label_multiple_wires**: Label connects more than one wire at 2489200, 304800 _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: Footprint 'RJ45_Amphenol_RJHSE5380_Horizontal' not found in library 'Connector_RJ' _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: Footprint 'FFC_15P_1mm' not found in library 'Connector_FFC-FPC' _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.isolated_pin_label**: Label connected to only one pin _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: Footprint 'FX10A-168P-SV1' not found in library 'Connector_FFC-FPC' _(carrier.kicad_sch)_
- **erc.label_multiple_wires**: Label connects more than one wire at 2641600, 457200 _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: The current configuration does not include the footprint library 'Connector_HDMI' _(carrier.kicad_sch)_
- **erc.label_multiple_wires**: Label connects more than one wire at 2082800, 330200 _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: Footprint 'microSD_HiroseDM3AT-SF-PEJM5_Push-Push' not found in library 'Connector_Card' _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: Footprint 'FX10A-168P-SV1' not found in library 'Connector_FFC-FPC' _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: The current configuration does not include the footprint library 'Switch_SMD' _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: Footprint 'SW_SPST_Tactile_6x6mm' not found in library 'Button_Switch_SMD' _(carrier.kicad_sch)_
- **erc.footprint_link_issues**: Footprint 'FX10A-168P-SV1' not found in library 'Connector_FFC-FPC' _(carrier.kicad_sch)_
- **erc.multiple_net_names**: Both STM32_USBOTG_VBUS_EN and STM32_USBOTG_OC_N are attached to the same items; STM32_USBOTG_VBUS_EN will be used in the netlist _(carrier.kicad_sch)_
- **erc.multiple_net_names**: Both GND and VBUS_OTG are attached to the same items; GND will be used in the netlist _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Bidirectional and Power output are connected _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Bidirectional and Power output are connected _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Bidirectional and Power output are connected _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Bidirectional and Power output are connected _(carrier.kicad_sch)_
- **erc.multiple_net_names**: Both GND and ZYNQ_HDMI_RX_TMDS_2_P are attached to the same items; GND will be used in the netlist _(carrier.kicad_sch)_
- **erc.multiple_net_names**: Both GND and PMOD1_IO6 are attached to the same items; GND will be used in the netlist _(carrier.kicad_sch)_
- **erc.multiple_net_names**: Both ETH_LINE_MDI_3_N and ETH_LINE_MDI_3_P are attached to the same items; ETH_LINE_MDI_3_N will be used in the netlist _(carrier.kicad_sch)_
- **erc.ground_pin_not_ground**: Pin GND not connected to ground net _(carrier.kicad_sch)_
- **erc.multiple_net_names**: Both +VIN and GND are attached to the same items; +VIN will be used in the netlist _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Bidirectional and Power output are connected _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Bidirectional and Power output are connected _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Bidirectional and Power output are connected _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Bidirectional and Power output are connected _(carrier.kicad_sch)_
- **erc.pin_to_pin**: Pins of type Bidirectional and Power output are connected _(carrier.kicad_sch)_
- **erc.multiple_net_names**: Both GND and ZYNQ_HDMI_TX_TMDS_2_P are attached to the same items; GND will be used in the netlist _(carrier.kicad_sch)_

